# WordPress Core & Config
wp-config.php
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
xmlrpc.php

# Uploads (Opcional: remova o # abaixo se não quiser versionar imagens pesadas)
# wp-content/uploads/

# Environment & Logs
.env
*.log
debug.log

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
node_modules/
# Ignorar backups pesados
arquivos antes das API/
